* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background: #4a428d;
    color: white;
    position: sticky;
}

li {
    font-size: 20px;
}

nav {
    display: flex;
    margin: auto;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    margin: 0;
    display: flex;
    flex: 1 1 10px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav a {
    margin: 0 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#logo {
    flex: 2 1 10px;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainTabela {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
}

a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color:#f2e3dd;
    transform: scale(1.5)
}

img {
    width: 150px;
    height: 150px;
}

/*TABELA*/

.homeTable, .trening {
    border-collapse: collapse;
    margin: 30px 0;
}

.header {
    text-align: left;
    background-color: #4a428d;
    color: white;
}

.homeTable th,
.homeTable td,
.trening th,
.trening td {
    padding: 10px 10px;
}

.homeTable tbody tr,
.trening tbody tr {
    border-bottom: 1px solid #dddddd;
}

.homeTable tbody tr:nth-of-type(even),
.trening tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.homeTable tbody tr:last-of-type,
.trening tbody tr:last-of-type{
    border-bottom: 2px solid #4a428d;
}

.searchBox {
    outline: none;
    width: 80%;
}

.searchBox:active {
    border: none;
    text-decoration: none;
}