<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
            <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
<p th:text="${msg}"></p>
<div>
    <form method="post" action="Admin/DodajTrening" enctype="multipart/form-data">
        <table>
            <tr><th>Naziv:</th><td><input type="text" name="nazivTreninga" required/></td></tr>
            <tr><th>Trener:
                <select name="trener" required>
                <option selected value="TRENER_STEFAN">Stefan</option>
                <option value="TRENER_FILIP">Filip</option>
                <option value="TRENER_NIKOLA">Nikola</option>
                </select>
                <th>
            </tr>
            <tr><th>Opis:</th><td><input type="text" name="opis" required/></td></tr>
            <tr>
                <td><input type="file" name="img" /></td>
            </tr>
            <tr><th>Tip:
                <select name="tipIdList" required multiple>
                    <option th:each="tipTreninga : ${tipovi}" th:value="${tipTreninga.getId()}" th:text="${tipTreninga.getNaziv()}"></option>
                </select>
                <th>
            </tr>
            <tr><th>Cena:</th><td><input type="number" name="cenaTreninga" required/></td></tr>
            <tr><th>Vrsta:
                <select name="vrstaTreninga" required>
                    <option selected value="INDIVIDUALNI">Individualni</option>
                    <option value="GRUPNI">Grupni</option>
                </select>
                <th>
            </tr>
            <tr>
                <th>Nivo:
                    <select name="nivoTreninga" required>
                        <option selected value="AMATERSKI">Amaterski</option>
                        <option value="SREDNJI">Srednji</option>
                        <option value="NAPREDNI">Napredni</option>
                    </select>
                </th>
            </tr>
            <tr><th>Trajanje:</th><td><input type="number" name="trajanje" required/></td></tr>
            <tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
        </table>
    </form>

</div>
</body>
</html>