<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>

<header>
    <nav>
        <h1 id="logo"><a href="http://localhost:8080/FitApp/Admin" style="text-decoration: none;box-shadow: none;color: white">FitApp</a></h1>
    </nav>
</header>
<body>
<p th:text="${msg}"></p>
<div>
    <form method="post" action="/FitApp/Admin/DodajTermin">
        <table>
            <tr><th th:text="#{trainingTrening.one}"></th>
                <td>
                    <select name="treningIdDropdown">
                        <option selected value=""></option>
                        <option th:each="trening : ${treninzi}" th:value="${trening.getId()}" th:text="${trening.getNazivTreninga()}"></option>
                    </select>
                </td>
            </tr>
            <tr><th th:text="#{oznakaSala.one}"></th>
                <td>
                    <select name="salaDropdown">
                        <option selected value=""></option>
                        <option th:each="sala : ${sale}" th:value="${sala.getId()}" th:text="${sala.getOznaka()}"></option>
                    </select>
                </td>
            </tr>
            <tr><th th:text="#{datumDate.one}"></th><td><input type="datetime-local" name="datum" required/></td></tr>
            <tr><th></th><td><input th:value="#{dodajTermin.one}" type="submit"/></td></tr>
        </table>
    </form>
</div>
</body>
</html>