<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>

<header>
    <nav>
        <h1 id="logo"><a href="http://localhost:8080/FitApp/Admin" style="text-decoration: none;box-shadow: none;color: white">FitApp</a></h1>
    </nav>
</header>
<body>
<p th:text="${msg}"></p>
<div>
    <form method="post" action="DodajSalu">
        <table>
            <tr><th th:text="#{oznakaSala.one}"></th><td><input type="text" name="oznaka" required/></td></tr>
            <tr><th th:text="#{kapacitetSala.one}"></th><td><input type="number" name="kapacitet" required/></td></tr>
            <tr><th></th><td><input th:value="#{dodajSalaBtn.one}" type="submit"/></td></tr>
        </table>
    </form>
</div>
</body>
</html>