<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
            <li><a href="Profil">Profil</a></li>
            <li><a th:text="#{korpa.nav}" href="Korpa"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
<form action="FitCard" method="post">
    <input th:if="${(!vecPoslao) and ulogovaniClan}" type="submit" th:text="#{requestCard.one}"/>
</form>
<a th:href="'/FitApp/Clan'" th:text="#{back.one}">nazad</a>
</body>
</html>