<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<a href="/FitApp/?lang=en" th:text="#{lang.eng}"></a>
<br>
<a href="/FitApp/?lang=sr" th:text="#{lang.sr}"></a>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
            <li><a th:text="#{register.nav}" href="Register"></a></li>
            <li><a th:text="#{login.nav}" href="Login"></a></li>
        </ul>
    </nav>
</header>
<div class="homeTable">
    <form action="" method="post">
    <table class="homeTable">
        <thead class="header">
        <tr>
            <th th:text="#{trNaziv.one}"><input class="searchBox" type="search" name="naziv" th:value="${param.naziv}?: null" /></th>
            <th th:text="#{trTip.one}">
            <select name="tipTrDropdown" multiple>
                <option th:each="tipTreninga : ${tipovi}" th:value="${tipTreninga.getId()}" th:text="${tipTreninga.getNaziv()}"></option>
            </select>
            <th>
            <th th:text="#{trMinCena.one}"><input class="searchBox" type="search" name="cenaMin" th:value="${param.cenaMin}?: null" /></th>
            <th th:text="#{trMaxCena.one}"><input class="searchBox" type="search" name="cenaMax" th:value="${param.cenaMax}?: null" /></th>
            <th th:text="#{trTrener.one}">
                <select name="trenerDropDown">
                <option selected value=""></option>
                <option value="TRENER_STEFAN">Stefan</option>
                <option value="TRENER_FILIP">Filip</option>
                <option value="TRENER_NIKOLA">Nikola</option>
            </select>
            </th>
            <th th:text="#{trVrsta.one}">
                <select name="vrstaTrDropDown">
                    <option selected value=""></option>
                    <option value="INDIVIDUALNI">Individualni</option>
                    <option value="GRUPNI">Grupni</option>
                </select>
            </th>
            <th th:text="#{trNivo.one}">
                <select name="nivoTrDropDown">
                    <option selected value=""></option>
                    <option value="AMATERSKI">Amaterski</option>
                    <option value="SREDNJI">Srednji</option>
                    <option value="NAPREDNI">Napredni</option>
                </select>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
            <th>
            <th>
            <th>
            <th> Sort:
                <select name="sort">
                    <option selected value=""></option>
                    <option value="nazivTreninga">Naziv</option>
                    <option value="cenaTreninga">Cena</option>
                    <option value="trener">Trener</option>
                    <option value="vrstaTreninga">Vrsta</option>
                    <option value="nivoTreninga">Nivo</option>
                </select>
            </th>
            <th> Order:
                <select name="order">
                    <option selected value=""></option>
                    <option value="asc">Asc</option>
                    <option value="desc">Desc</option>
                </select>
            </th>
            <th><input th:value="#{pretragaBtn.one}" type="submit"/></th>
        </tr>
        <tr>
            <th th:text="#{trNaziv.one}"></th>
            <th></th>
            <th th:text="#{trTip.one}"></th>
            <th th:text="#{trCena.one}"></th>
            <th th:text="#{trTrener.one}"></th>
            <th th:text="#{trVrsta.one}"></th>
            <th th:text="#{trNivo.one}"></th>
        </tr>
        </thead>
        <tbody th:each="trening : ${treninzi}">
            <tr>
                <td>
                    <a th:href="'/FitApp/Trening?id='+${trening.getId()}">
                        <p th:text="${trening.getNazivTreninga()}"> </p>
                    </a>
                </td>
                <td><img th:src="${trening.getImgPath()}"></td>
                <td>
                    <p th:text="${trening.getTipTreningaForPrint()}"> </p>
                </td>
                <td>
                    <p th:text="${trening.getCenaTreninga()}"> </p>
                </td>
                <td>
                    <p th:text="${trening.getTrener()}"> </p>
                </td>
                <td>
                    <p th:text="${trening.getVrstaTreninga()}"> </p>
                </td>
                <td>
                    <p th:text="${trening.getNivoTreninga()}"> </p>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>

</body>
</html>