<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
    </nav>
</header>
<body>
<p th:text="${msg}"></p>
<div>
    <form method="post" action="IzmeniProfil">
        <table>
            <tr><th></th><td hidden><input type="text" name="id" th:value="${korisnik.getId()}"/></td></tr>
            <tr><th th:text="#{profilKorIme.one}"></th><td><input type="text" name="korIme" th:value="${korisnik.getKorIme()}" required/></td></tr>
            <tr><th th:text="#{profilNewPass.one}"></th><td><input type="password" name="sifra"/></td></tr>
            <tr><th th:text="#{profilPassAgain.one}"></th><td><input type="password" name="sifra2"/></td></tr>
            <tr><th th:text="#{profilEmail.one}"></th><td><input type="text" name="email" th:value="${korisnik.getEmail()}" required/></td></tr>
            <tr><th th:text="#{profilIme.one}"></th><td><input type="text" name="ime" th:value="${korisnik.getIme()}" required/></td></tr>
            <tr><th th:text="#{profilPrezime.one}"></th><td><input type="text" name="prezime" required th:value="${korisnik.getPrezime()}"/></td></tr>
            <tr><th th:text="#{profilAdresa.one}"></th><td><input type="text" name="adresa" required th:value="${korisnik.getAdresa()}"/></td></tr>
            <tr><th th:text="#{profilDatumR.one}"></th><td><input type="date" name="datumRodjenja" th:value="${korisnik.getDatumRodjenja()}" required/></td></tr>
            <tr><th th:text="#{profilBrTel.one}"></th><td><input type="number" name="brojTelefona" th:value="${korisnik.getBrojTelefona()}" required/></td></tr>
            <tr><th></th><td><input th:value="#{izmeniBtn.one}" type="submit" /></td></tr>
        </table>
    </form>

</div>

</body>
</html>