<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
  <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
  <nav>
    <h1 id="logo">FitApp</h1>
    <ul>
      <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
      <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
      <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
      <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
      <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
      <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
      <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
      <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
      <li><a href="Logout">Logout</a></li>
    </ul>
  </nav>
</header>
<div>
  <form method="post" action="IzmeniTrening" enctype="multipart/form-data">
    <table>
      <tr>
        <th></th>
        <td>
          <input type="text" name="id" hidden th:value="${trening.getId()}" required/>
        </td>
      </tr>
      <tr><th th:text="#{trNaziv.one}"></th><td><input type="text" name="nazivTreninga" th:value="${trening.getNazivTreninga()}" required/></td></tr>
      <tr>
        <th th:text="#{trTrener.one}">
          <select name="trener" required>
            <option selected th:value="${trening.getTrener()}" th:text="${trening.getTrener().name()}"></option>
            <option th:value="${trening.getTrener()}" th:if="${trening.getTrener().name() != 'TRENER_NIKOLA'}">TRENER_NIKOLA</option>
            <option th:value="${trening.getTrener()}" th:if="${trening.getTrener().name() != 'TRENER_STEFAN'}">TRENER_STEFAN</option>
            <option th:value="${trening.getTrener()}" th:if="${trening.getTrener().name() != 'TRENER_FILIP'}">TRENER_FILIP</option>
          </select>
        </th>
      </tr>
      <tr><th>Opis:</th><td><input type="text" name="opis" th:value="${trening.getOpis()}" required/></td></tr>
      <tr>
        <td><img th:src="${trening.getImgPath()}"></td>
      </tr>
      <tr>
        <td><input type="file" name="img" /></td>
      </tr>
      <tr><th th:text="#{trTip.one}">
        <p th:text="${trening.getTipTreningaForPrint()}"></p>
        <select name="tipIdList" required multiple>
          <option th:each="tipTreninga : ${tipovi}" th:if="${tipTreninga.getNaziv()}" th:value="${tipTreninga.getId()}" th:text="${tipTreninga.getNaziv()}"></option>
        </select>
        <th>
      </tr>
      <tr>
        <th th:text="#{trCena.one}"></th><td><input type="number" name="cenaTreninga" th:value="${trening.getCenaTreninga()}" required/></td>
      </tr>
      <tr>
        <th th:text="#{trVrsta.one}">
          <select name="vrstaTreninga" required>
            <option selected th:value="${trening.getVrstaTreninga()}" th:text="${trening.getVrstaTreninga()}"></option>
            <option th:value="INDIVIDUALNI" th:if="${trening.getVrstaTreninga().name() != 'INDIVIDUALNI'}">Individualni</option>
            <option th:value="GRUPNI" th:if="${trening.getVrstaTreninga().name() != 'GRUPNI'}">Grupni</option>
            <option value="GRUPNI">Grupni</option>
          </select>
        </th>
      </tr>
      <tr>
        <th th:text="#{trNivo.one}">
          <select name="nivoTreninga" required>
            <option selected th:value="${trening.getNivoTreninga()}" th:text="${trening.getNivoTreninga()}"></option>
            <option th:value="AMATERSKI" th:if="${trening.getNivoTreninga().name() != 'AMATERSKI'}">Amaterski</option>
            <option th:value="SREDNJI" th:if="${trening.getNivoTreninga().name() != 'SREDNJI'}">Srednji</option>
            <option th:value="NAPREDNI" th:if="${trening.getNivoTreninga().name() != 'NAPREDNI'}">Napredni</option>
          </select>
        </th>
      </tr>
      <tr>
        <th th:text="#{trajanje.one}"></th><td><input type="number" name="trajanje" th:value="${trening.getTrajanje()}" required/></td>
      </tr>
      <tr>
        <th></th><td><input type="submit" th:value="#{izmeniBtn.one}"/></td>
      </tr>
    </table>
  </form>

</div>
</body>
</html>