<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
            <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<div>
    <form method="post" action="IzmeniSalu">
        <table>
            <tr>
                <th></th>
                <td>
                    <input type="text" name="id" hidden th:value="${sala.getId()}" required/>
                </td>
            </tr>
            <tr>
                <th th:text="#{oznakaSala.one}"></th>
                <th th:text="#{kapacitetSala.one}"></th>
            </tr>
            <tr>
                <td>
                    <p th:text="${sala.getOznaka()}"> </p>
                </td>
                <td>
                    <input type="number" name="kapacitet" th:value="${sala.getKapacitet()}">
                </td>
            </tr>

        </table>
        <input type="submit" th:value="#{izmeniBtn.one}"/>
    </form>

</div>
</body>
</html>