<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
            <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="homeTable">
    <form action="" method="post">
        <table class="homeTable">
            <thead class="header">
            <tr><th th:text="#{dateFrom.one}"></th><td><input type="date" name="datumOd" required/></td></tr>
            <tr><th th:text="#{dateTo.one}"></th><td><input type="date" name="datumDo" required/></td></tr>
            <tr>
                <th> Sort:
                    <select name="sort">
                        <option selected value=""></option>
                        <option value="cenaTreninga">Cena</option>
                        <option value="brojZakazanih">Broj zakazanih</option>
                    </select>
                </th>
                <th> Order:
                    <select name="order">
                        <option selected value=""></option>
                        <option value="asc">Asc</option>
                        <option value="desc">Desc</option>
                    </select>
                </th>
                <th><input type="submit" value="pretraga"/></th>
            </tr>
            <tr>
                <th th:text="#{trTip.one}"></th>
                <th th:text="#{trTrener.one}"></th>
                <th th:text="#{trCena.one}"></th>
                <th th:text="#{brojNumber.one}">
            </tr>
            </thead>
            <tbody th:each="izvestaj : ${izvestaji}">
            <tr>
                <td>
                    <p th:text="${izvestaj.getNazivTreninga()}"> </p>
                </td>
                <td>
                    <p th:text="${izvestaj.getTrener()}"> </p>
                </td>
                <td>
                    <p th:text="${izvestaj.getBrZakazanih()}"> </p>
                </td>
                <td>
                    <p th:text="${izvestaj.getCena()}"> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p th:text="#{ukupanBroj.one}"></p>
                    <p th:text="${ukupanBroj}"> </p>
                </td>
                <td>
                    <p th:text="#{ukupnaCena.one}"></p>
                    <p th:text="${ukupnaCena}"> </p>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>