<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo"><a href="http://localhost:8080/FitApp/Admin" style="text-decoration: none;box-shadow: none;color: white">FitApp</a></h1>
        <ul>
            <li><a href="Admin/DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Admin/Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Admin/Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Admin/Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Admin/Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Admin/Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="homeTable">
    <form action="KomentariPending" method="post">
        <table class="homeTable">
            <thead class="header">
            <tr>
                <th th:text="#{tekst.one}"></th>
                <th th:text="#{ocena.one}"></th>
                <th th:text="#{datumDate.one}"></th>
                <th th:text="#{autor.one}"></th>
                <th th:text="#{trainingTrening.one}"></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="komentar : ${komentari}">
            <tr>
                <td hidden>
                    <p th:text="${komentar.getId()}"> </p>
                </td>
                <td>
                    <p th:text="${komentar.getTekst()}"> </p>
                </td>
                <td>
                    <p th:text="${komentar.getOcena()}"> </p>
                </td>
                <td>
                    <p th:text="${komentar.getDatum()}"> </p>
                </td>
                <td>
                    <p th:text="${komentar.getAutor().getIme()}"> </p>
                </td>

                <td>
                    <p th:text="${komentar.getTrening().getNazivTreninga()}"> </p>
                </td>
                <td>
                    <input type="submit" th:id="'odobri_' + ${komentar.getId()}" th:value="#{odobri.one}" th:attr="onclick=|event.preventDefault();validate('${komentar.getId()}', 'odobri')|">
                </td>
                <td>
                    <input type="submit" th:id="'odbij_' + ${komentar.getId()}" th:value="#{odbij.one}" th:attr="onclick=|event.preventDefault();validate('${komentar.getId()}', 'odbij')|">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <script th:inline="javascript">
        function validate(id, button) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                alert("Uspeh - success");
            }
            if (button == "odobri") {
                xhttp.open("POST", "http://localhost:8080/FitApp/Admin/OdobriKomentar?id=" + id, false);
                xhttp.send(null);
            }else if(button == "odbij"){
                xhttp.open("POST", "http://localhost:8080/FitApp/Admin/OdbijKomentar?id=" + id, false);
                xhttp.send(null);
            }
            document.getElementById("odbij_"+id).disabled = true;
            document.getElementById("odobri_"+id).disabled = true;

        }
    </script>
</div>


</body>
</html>