<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
        </ul>
    </nav>
</header>
<div class="homeTable">
    <form action="" method="post">
        <table class="homeTable">
            <thead class="header">
            <tr>
                <th th:text="#{trNaziv.one}"></th>
                <th></th>
                <th th:text="#{trTip.one}"></th>
                <th th:text="#{trCena.one}"></th>
                <th th:text="#{trTrener.one}"></th>
                <th th:text="#{trVrsta.one}"></th>
                <th th:text="#{trNivo.one}"></th>
                <th></th>
                <th th:text="#{datumDate.one}"></th>
            </tr>
            </thead>
            <tbody th:each="item : ${map}">
            <tr>
                <td>
                    <p th:text="${item.key.getNazivTreninga()}"> </p>
                </td>
                <td>
                    <p th:text="${item.key.getTipTreningaForPrint()}"> </p>
                </td>
                <td>
                    <p th:text="${item.key.getCenaTreninga()}"> </p>
                </td>
                <td>
                    <p th:text="${item.key.getTrener()}"> </p>
                </td>
                <td>
                    <p th:text="${item.key.getVrstaTreninga()}"> </p>
                </td>
                <td>
                    <p th:text="${item.key.getNivoTreninga()}"> </p>
                </td>
                <td></td>
                <td>
                    <a th:href="'/FitApp/Korisnik/Termin?id='+${item.value.getId()}">
                        <p th:text="${item.value.getDatum()}"> </p>
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p th:text="${suma}"></p>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </form>
</div>

</body>
</html>