<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
            <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
<form action="Korisnik" method="post">
    <table>
        <tbody>
        <tr>
            <td hidden>
                <input name="korId" th:value="${korisnik.getId()}"/>
            </td>
            <td>
                <p th:text="${korisnik.getKorIme()}"> </p>
            </td>
            <td>
                <p th:text="${korisnik.getUloga()}"> </p>
            </td>
            <td th:if="${!korisnik.isBlokiran()}">
                <input name="btnBlokiran" type="submit" th:value="#{blokiraj.one}">
            </td>
            <td th:if="${korisnik.isBlokiran()}">
                <input name="btnBlokiran" type="submit" th:value="#{odblokiraj.one}">
            </td>
        </tr>
        </tbody>
    </table>

</form>

</body>
</html>