<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo"><a href="http://localhost:8080/FitApp/Admin" style="text-decoration: none;box-shadow: none;color: white">FitApp</a></h1>
        <ul>
            <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="homeTable">
    <form action="Korisnici" method="post">
        <table class="homeTable">
            <thead class="header">
            <tr>
                <th th:text="#{korImeLogin.one}"><input class="searchBox" type="search" name="korIme" th:value="${param.korIme}?: null" /></th>
                <th th:text="#{uloga.one}">
                    <select name="ulogaDropdown">
                        <option selected value=""></option>
                        <option value="CLAN">Clan</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                <th>
            </tr>
            <tr>
                <th>
                <th>
                <th>
                <th>
                <th> Sort:
                    <select name="sort">
                        <option selected value=""></option>
                        <option value="korIme">Korisnicko ime</option>
                        <option value="uloga">Uloga</option>
                    </select>
                </th>
                <th> Order:
                    <select name="order">
                        <option selected value=""></option>
                        <option value="asc">Asc</option>
                        <option value="desc">Desc</option>
                    </select>
                </th>
                <th><input type="submit" value="pretraga"/></th>
            </tr>
            <tr>
                <th th:text="#{korImeLogin.one}"></th>
                <th th:text="#{datumDate.one}"></th>
                <th th:text="#{uloga.one}"></th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody th:each="korisnik : ${korisnici}">
            <tr>
                <td hidden>
                    <input name="id" th:value="${korisnik.getId()}"/>
                </td>
                <td>
                    <a th:href="'/FitApp/Admin/Korisnik?id='+${korisnik.getId()}">
                        <p th:text="${korisnik.getKorIme()}"> </p>
                    </a>
                </td>
                <td>
                    <p th:text="${korisnik.getDatumReg}"> </p>
                </td>
                <td>
                    <p th:text="${korisnik.getUloga()}"> </p>
                </td>
                <td>
                    <p th:text="${korisnik.getIsBlokiran()}"> </p>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>