<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>  <title>FitApp</title>
</head>
<body>
<header>
  <nav>
    <h1 id="logo">FitApp</h1>
    <ul>
      <li><a href="FitCard">FitCard</a></li>
      <li><a th:text="#{profil.nav}" href="Profil"></a></li>
      <li><a href="Logout">Logout</a></li>
    </ul>
  </nav>
</header>
<body>
<p th:text="${msg}"></p>
<form action="Korpa/Checkout" method="post">
<table>
  <tbody th:each="korpaItem : ${korpa.getTerminTreningMap()}">
  <tr>
    <td>
      <a th:href="'/FitApp/Trening?id=' + ${korpaItem.value.getId()}">
        <p th:text="${korpaItem.value.getNazivTreninga()}"> </p>
      </a>
    </td>
    <td>
      <p th:text="${korpaItem.value.getTrener()}"> </p>
    </td>
    <td>
      <p th:text="${korpaItem.value.getTipTreningaForPrint()}"> </p>
    </td>
    <td>
      <p th:text="${korpaItem.value.getCenaTreninga()}"> </p>
    </td>
    <td>
      <p th:text="${korpaItem.key.getDatum()}"> </p>
    </td>
    <td>
      <a th:href="'/FitApp/Korpa/RemoveItem?id=' + ${korpaItem.key.getId()}" th:text="#{removeCartItem.one}"></a>
    </td>
  </tr>
  </tbody>
</table>
    <input th:if="${korpa.getTerminTreningMap() != null}" type="submit" th:text="#{checkout.one}">
</form>

<br>
<a th:href="'/FitApp/Clan'" th:text="#{nastaviKupovinu.one}"></a>
</body>
</html>