<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
    </nav>
</header>
<body>
<div>
    <form method="post" action="Login">
        <table>
            <tr><th th:text="#{korImeLogin.one}"></th>
                <td><input type="text" name="korIme" required/></td>
            </tr>
            <tr><th th:text="#{passwordLogin.one}"></th><td><input type="password" name="sifra" required/></td></tr>
            <tr><th></th><td><input th:value="#{prijavaLogin.one}" type="submit"/></td></tr>
        </table>
    </form>
    <p class="greska" th:text="${msg}"></p>
</div>
</body>
</html>