<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>

        </ul>
    </nav>
</header>
<a th:if="${ulogovanClan}" href="Profil/Wishlist">Wishlist</a>
<br>
<a href="Profil/IzmeniProfil" th:text="#{changeProfile.one}"></a>
<br>
<a th:if="${ulogovanClan}" href="Korisnik/Treninzi" th:text="#{mojiTreninzi.one}"></a>
<p th:text="${msg}"></p>
</body>
</html>