<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<header>
    <nav>
        <h1 id="logo"><a href="http://localhost:8080/FitApp/Admin" style="text-decoration: none;box-shadow: none;color: white">FitApp</a></h1>
        <ul>
            <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
<div>
    <form method="post" action="Popusti">
        <table>
            <tr><th th:text="#{datumDate.one}"></th><td><input type="date" name="datumPopusta" required/></td></tr>
            <tr><th th:text="#{procenat.one}"></th><td><input type="number" min="0" name="procenat" required/></td></tr>
            <tr><th></th></tr>
            <tr><th th:text="#{trainingTrening.one}"></th>
                <td>
                    <select name="treningIdDropdown">
                        <option selected value=""></option>
                        <option th:each="trening : ${treninzi}" th:value="${trening.getId()}" th:text="${trening.getNazivTreninga()}"></option>
                    </select>
                </td>
            </tr>
            <tr><th></th><td><input type="submit" th:value="#{addPopust.one}"/></td></tr>
        </table>
    </form>
    <p th:text="${msg}"></p>
</div>

</body>
</html>