<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<p th:text="${msg}"></p>
<header>
    <nav>
        <h1 id="logo"><a href="http://localhost:8080/FitApp/Admin" style="text-decoration: none;box-shadow: none;color: white">FitApp</a></h1>
<!--        <h1 id="logo">FitApp</h1>-->
        <ul>
            <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
            <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
            <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
            <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
            <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
            <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
            <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
            <li><a href="Logout">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="homeTable">
    <form action="Sale" method="post">
        <table class="homeTable">
            <thead class="header">
            <tr>
                <th th:text="#{kapacitetSala.one}"><input class="searchBox" type="search" name="oznaka" th:value="${param.oznaka}?: null" /></th>
            </tr>
            <tr>
                <th>
                <th>
                <th>
                <th>
                <th> Sort:
                    <select name="sort">
                        <option selected value=""></option>
                        <option value="oznaka">Oznaka</option>
                    </select>
                </th>
                <th> Order:
                    <select name="order">
                        <option selected value=""></option>
                        <option value="asc">Asc</option>
                        <option value="desc">Desc</option>
                    </select>
                </th>
                <th><input type="submit" value="pretraga"/></th>
            </tr>
            <tr>
                <th th:text="#{oznakaSala.one}"></th>
                <th th:text="#{kapacitetSala.one}"></th>
            </tr>
            </thead>
            <tbody th:each="sala : ${sale}">
            <tr>
                <td>
                    <p th:text="${sala.getOznaka()}"> </p>
                </td>
                <td>
                    <p th:text="${sala.getKapacitet()}"> </p>
                </td>
                <td>
                    <a th:href="'/FitApp/Admin/IzmeniSalu?id='+${sala.getId()}" th:text="#{izmeniBtn.one}"></a>
                </td>
                <td>
                    <input th:value="#{obrisiBtn.one}" type="submit" name="obrisiSalu">
                </td>
                <td hidden>
                    <input th:value="${sala.getId()}" name="id">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>