<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>
<body>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>

        </ul>
    </nav>
</header>
<div class="trening">
    <form action="OtkaziTrening" method="post">
    <table>
        <tbody>
        <tr>
            <td hidden>
                <input type="text" name="id" th:value="${termin.getId()}"/>
            </td>
            <td th:text="${trening.getNazivTreninga()}"></td>
            <td th:text="${trening.getOpis()}"></td>
            <td th:text="${trening.getCenaTreninga()}"></td>
            <td th:text="${trening.getTrajanje()}"></td>
            <td th:text="${termin.getDatum()}"></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" name="otkazi" th:value="#{otkazi.one}">
    </form>
</div>
</body>
</html>