<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>

<body>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
            <div th:if="${ulogovanAdmin}">
                <li><a href="DodajTrening" th:text="#{adminDodajTr.one}"></a></li>
                <li><a href="Sale" th:text="#{adminSale.one}"></a></li>
                <li><a href="Korisnici" th:text="#{adminKorisnici.nav}"></a></li>
                <li><a href="http://localhost:8080/FitApp/Profil" th:text="#{profil.nav}"></a></li>
                <li><a href="http://localhost:8080/FitApp/KomentariPending" th:text="#{adminKomentariPending.nav}"></a></li>
                <li><a href="Popusti" th:text="#{adminPopusti.nav}"></a></li>
                <li><a href="Izvestaji" th:text="#{adminIzvestaji.nav}"></a></li>
                <li><a href="Zahtevi" th:text="#{adminZahtevi.nav}"></a></li>
                <li><a href="Logout">Logout</a></li>
            </div>
            <div th:if="${ulogovanClan}">
                <li><a href="FitCard">FitCard</a></li>
                <li><a th:text="#{profil.nav}" href="Profil"></a></li>
                <li><a th:text="#{korpa.nav}" href="Korpa"></a></li>
                <li><a href="Logout">Logout</a></li>
            </div>
            <div th:if="${ulogovanAdmin == null and ulogovanClan == null}">
                <li><a th:text="#{register.nav}" href="Register"></a></li>
                <li><a th:text="#{login.nav}" href="Login"></a></li>
            </div>
        </ul>
    </nav>
</header>
<div class="trening">
    <form action="Admin/IzmeniTrening" method="get">
        <table>
            <tbody>
            <tr>
                <td><img th:src="${trening.getImgPath()}"></td>
                <td th:text="${trening.getNazivTreninga()}"></td>
                <td th:text="${trening.getTrener()}"></td>
                <td th:text="${trening.getOpis()}"></td>
                <td th:text="${trening.getTipTreningaForPrint()}"></td>
                <td th:text="${trening.getCenaTreninga()}"></td>
                <td th:text="${trening.getNivoTreninga()}"></td>
                <td th:text="${trening.getVrstaTreninga()}"></td>
                <td th:text="${trening.getTrajanje()}"></td>
                <td th:text="${trening.getOcena()}"></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${ulogovanAdmin}">
            <a th:href="'/FitApp/Admin/IzmeniTrening?id='+${trening.getId()}">izmeni</a>
        </div>
    </form>
    <form action="Korpa" method="post">
        <table>
            <tbody th:if="${ulogovanClan}">
            <tr th:each="termin : ${termini}">
                <td hidden>
                    <input name="idTermin" type="hidden" th:value="${termin.getId()}"/>
                </td>
                <td th:text="${termin.getDatum()}">
                <td th:text="${sale.get(termin.getSalaid())}">
                <td>
                    <input type="submit" th:value="#{zakazi.one}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div th:if="${ulogovanClan}" id="wishlist">
        <button type="button" th:onclick="'load(\''+ ${trening.getId()} +'\');'" th:text="#{addToWishlist.one}"></button>
    </div>

    <div class="homeTable">
            <table class="homeTable">
                <thead class="header">
                <tr>
                    <th th:text="#{tekst.one}"></th>
                    <th th:text="#{ocena.one}"></th>
                    <th th:text="#{datumDate.one}"></th>
                    <th th:text="#{autor.one}"></th>
                </tr>
                </thead>
                <tbody th:each="komentar : ${komentari}">
                <tr>
                    <td>
                        <p id="tekst" th:text="${komentar.getTekst()}"> </p>
                    </td>
                    <td>
                        <p th:text="${komentar.getOcena()}"> </p>
                    </td>
                    <td>
                        <p th:text="${komentar.getDatum()}"> </p>
                    </td>
                    <td th:if="${komentar.isAnon()}">
                        <p th:text="${komentar.getAutor().getIme()}"> </p>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div th:if="${ulogovanClan}">
        <div th:if="${allowedToComment}" id="add-comment">
            <form action="DodajKomentar" method="post">
                <input type="hidden" id="treningId" th:value="${trening.getId()}">
                <label for="ocena" th:text="#{ocena.one}"></label><br>
                <input type="number" id="ocena" name="ocena" ><br>
                <label for="tekst2" th:text="#{komentar.one}"></label><br>
                <input type="text" id="tekst2" name="tekst" ><br>
                <label for="anon">Anon</label>
                <input type="checkbox" id="anon" name="anon">
                <input id="komentarButton" type="submit" value="Submit" onclick="event.preventDefault();dodajKom()">
            </form>
        </div>
    </div>

    <script>
        function load(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                alert(this.responseText);
            }
            xhttp.open("GET", "http://localhost:8080/FitApp/Wishlist/Dodaj?id=" + id, false);
            xhttp.send(null);
        }

        function dodajKom(){
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                alert("Poslat komentar!");
            }

            let ocena = document.getElementById("ocena");
            let txt = document.getElementById("tekst2");
            let anon = document.getElementById("anon");
            let treningId = document.getElementById("treningId");
            console.log(treningId.value);

            xhttp.open("POST", "http://localhost:8080/FitApp/DodajKomentar", false);
            xhttp.setRequestHeader('Content-type','application/x-www-form-urlencoded');
            xhttp.send("ocena="+ocena.value+"&tekst2="+txt.value+"&treningId="+treningId.value+"&anon="+anon.checked);
        }

    </script>
</div>
</body>
</html>