<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://localhost:8080/FitApp/css/style.css" rel="stylesheet" type="text/css"/>
    <title>FitApp</title>
</head>

<body>
<header>
    <nav>
        <h1 id="logo">FitApp</h1>
        <ul>
        </ul>
    </nav>
</header>
<p th:text="${msg}"></p>
<form action="RemoveWishlistItem" method="post">
    <table class="homeTable">
        <thead class="header">
        <tr>
            <th th:text="#{trNaziv.one}"></th>
            <th></th>
            <th th:text="#{trTip.one}"></th>
            <th th:text="#{trCena.one}"></th>
            <th th:text="#{trTrener.one}"></th>
            <th th:text="#{trVrsta.one}"></th>
            <th th:text="#{trNivo.one}"></th>
        </tr>
        </thead>
        <tbody th:each="trening : ${treninzi}">
        <tr>
            <td>
                <a th:href="'/FitApp/Trening?id='+${trening.getId()}">
                    <p th:text="${trening.getNazivTreninga()}"> </p>
                </a>
            </td>
            <td><img th:src="${trening.getImgPath()}"></td>
            <td>
                <p th:text="${trening.getTipTreningaForPrint()}"> </p>
            </td>
            <td>
                <p th:text="${trening.getCenaTreninga()}"> </p>
            </td>
            <td>
                <p th:text="${trening.getTrener()}"> </p>
            </td>
            <td>
                <p th:text="${trening.getVrstaTreninga()}"> </p>
            </td>
            <td>
                <p th:text="${trening.getNivoTreninga()}"> </p>
            </td>

            <td>
                <button th:text="#{obrisiBtn.one}" th:attr="onclick=|submitBtn('${trening.getId}')|"></button>
            </td>
        </tr>
        </tbody>
    </table>
    <input name="idTrening" type="hidden" id="idTrening"/>
</form>
<script>
    function submitBtn(id) {
        document.getElementById("idTrening").value = id;
    }
</script>
</body>
</html>