<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="homeTable">
    <form action="Zahtevi" method="post">
        <table class="homeTable">
            <thead class="header">
            <tr>
                <th th:text="#{idKor.one}">ID korisnika</th>
                <th >Status</th>
            </tr>
            </thead>
            <tbody th:each="zahtev : ${zahtevi}">
            <tr>
                <td hidden>
                    <input type="text" th:value="${zahtev.getId()}" name="id">
                </td>
                <td>
                    <p th:text="${zahtev.getKorId()}"> </p>
                </td>
                <td>
                    <p th:text="${zahtev.getZahtevStatus()}"> </p>
                </td>
                <td>
                    <input type="submit" th:value="#{odobri.one}" name="odobri">
                </td>
                <td>
                    <input type="submit" th:value="#{odbij.one}" name="odbij">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>